.card-container {
    display: flex;
    justify-content: center;
    margin-top: 0.8rem;
  }
  
  .card {
    display: flex;
    background-color: rgb(24, 44, 24);
    color: white;
    width: 22%;
    border-radius: 15px;
    padding: 22px;
    margin-left:10px;
  }
  
  .card-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
  }
  
  .card-subtitle {
    font-size: xx-large;
    margin-top: 5px;
  }
  